<div class="element">
<h2 class="title">Edit Your Profile</h2>

<%= form_for @user do |f| %>
  <p><%= f.label :name %><br />
    <br />
  <%= f.text_field :name, :size=>"80" %></p>
  <br />

  <p><%= f.label :age %><br />
    <br />
  <%= f.text_field :age, :size=>"80" %></p>
  <br />

  <p><%= f.label :image %><br />
    <br />
  <%= f.text_field :image, :size=>"80" %></p>
    <br />

  <p class="submit"><%= f.submit %></p>
<% end %>
</div>
