<div class="element">
<h2 class="title">Add A New Story To This Community</h2>

<%= form_for [@community, @story] do |f| %>
  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :content %>
  <%= f.text_area :content %></p>

  <p><%= f.label :image %>
  <%= f.text_area :image %></p>
  <br />
  <p class="submit"><%= f.submit %></p>
<% end %>
</div>
