<div class="element">
<h2 class="title"><%= @story.title %> </h2>
<h2 class="title">Community: <%= link_to  @story.community.name, community_path(@story.community_id) %> </h2>
<img class="image" src="<%= @story.image %>"><br />
<img class="userImage" src="<%= @story.user.image %>">
<h4>By: <%= @story.user.name %></h4>
<h4>Created At: <%= @story.created_at %>, Last Update: <%= @story.updated_at %></h4>
<hr />
<p> <%= @story.content %> </p>
<% if current_user && current_user == @story.user %>
  <br />
  <% @community = Community.find(params[:community_id]) %>
  <%= link_to "Edit Story", edit_community_story_path(@community, @story) %>
  <%= link_to "Delete Story", community_story_path(@community, @story), method: :delete %>
<% end %>
</div>

<div class="element barrier">
  <h3>Comments</h3>
  <br />
</div>

<% @story.storycomments.each do |storycomment| %>
  <div class="comment">
    <img class="userImage" src="<%= storycomment.user.image %>">
    <h4>By: <%= storycomment.user.name %></h4>
    <h4>Created At: <%= storycomment.created_at %>, Last Update <%= storycomment.updated_at %></h4>
    <hr />
    <p><%= storycomment.content %></p>
    <% if current_user && current_user == storycomment.user %>
      <br />
      <% @community = Community.find(params[:community_id]) %>
      <%= link_to "Edit", edit_community_story_storycomment_path(@community, @story, storycomment) %> |
      <%= link_to "Delete", community_story_storycomment_path(@community, @story, storycomment), method: :delete %>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <div class="comment">
    <h4>Add A New Comment</h4>
    <br />
    <% @community = Community.find(params[:community_id]) %>
    <%= form_for [@community, @story, @storycomment] do |f| %>
      <p>
      <%= f.text_field :content, :size=>"80" %></p>
      <br />
      <p class="submit"><%= f.submit %></p>
    <% end %>
  </div>
<% end %>
