<div class="element barrier">
  <h2>Tell The World Your Story!<br /> <br />You story belongs here!</h2>
</div>

<% if current_user %>
  <div class="element barrier">
    <h2>Posts From Members</h2>
  </div>
<% end %>

<% if current_user %>
  <% @posts.each do |post| %>
    <div class="element">
      <h2 class="title"><%= link_to post.title, post_path(post) %></h2>
      <img class="image" src="<%= post.image %>"><br />
      <img class="userImage" src="<%= post.user.image %>">
      <% if current_user %>
        <h3>By: <%= link_to post.user.name, user_path(post.user)%></h3>
      <% else %>
        <h3>By: <%= post.user.name %></h3>
      <% end %>
      <h4>Created At: <%= post.created_at %>, Last Update: <%= post.updated_at %></h4>
      <hr />
      <p> <%= post.content %> </p>
    </div>
  <% end %>
<% end %>

<div class="element barrier">
  <h2>Posts From Communities</h2>
</div>

<% @communities.each do |community| %>
  <% community.stories.each do |story| %>
    <div class="element">
      <h2 class="title"><%= link_to story.title, community_path(story) %></h2>
      <img class="image" src="<%= story.image %>"><br />
      <img class="userImage" src="<%= story.user.image %>">
      <h3>By: <%= story.user.name %></h3>
      <h4>Created At: <%= story.created_at %>, Last Update: <%= story.updated_at %></h4>
      <hr />
      <p> <%= story.content %> </p>
    </div>
  <% end %>
<% end %>
