<div class="element">
<h2 class="title">Add A New Story</h2>

<%= form_for @post do |f| %>
  <p><%= f.label :title %><br />
    <br />
  <%= f.text_field :title, :size=>"80" %></p>
  <br />

  <p><%= f.label :image %><br />
    <br />
  <%= f.text_field :image, :size=>"80" %></p>
    <br />

  <p><%= f.label :content %><br />
    <br />
  <%= f.text_field :content, :size=>"80" %></p>
  <br />

  <br />
  <p class="submit"><%= f.submit %></p>
<% end %>
</div>
