<h2>Edit Community</h2>

<%= form_for @community do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :header %>
  <%= f.text_area :header %></p>

  <%= f.submit %>
<% end %>

<%= link_to "Delete Community", community_path(@community), method: :delete %>
