<h2><%= link_to "Create New Community", new_community_path %></h2>
<br />
<% @communities.each do |community| %>
  <div class="communityElement">
    <h2 class="communityTitle"><%= link_to community.name, community_path(community) %>
    <% if current_user.id == 1 %>
      <%= link_to "Edit Community", edit_community_path(community) %>
    <% end %>
    <% if community.memberships.find_by(user_id: current_user.id) %>
        <%= link_to "Leave Community".html_safe, remove_membership_community_path(community), method: :delete, class: "fav" %>
      <% else %>
        <%= link_to "Join Community".html_safe, add_membership_community_path(community), method: :post, class: "no-fav" %>
    <% end %>
    </h2>
    <img class="communityImage" src="<%= community.header %>"><br />
    <hr />
  </div>
<% end %>
